:root {
    --background: #030303;
    --text-main: #eaeaea;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    background-color: var(--background);
}

a {
    text-decoration: none;
    color: var(--text-main);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 50px;

    animation: fadeInUp 2.5s;
}

.container a {
    font-size: 25px;
    font-weight: 700;
    text-shadow:
        0 0 30px rgba(255, 255, 255, 0.3),
        0 0 40px rgba(255, 255, 255, 0.2);

    transition: all 0.3s ease;
}

.container a:hover {
    font-size: 30px;
    font-weight: 100;
    text-shadow:
        0 0 40px rgba(255, 0, 0, 0.468);

    transition: all 0.3s ease;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: repeating-linear-gradient(0deg,
            rgba(0, 0, 0, 0.1) 0px,
            rgba(0, 0, 0, 0.1) 2px,
            transparent 2px,
            transparent 4px);
    z-index: 1;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}